@CHARSET "ISO-8859-1";

body {
	text-align: center;
	background: url('images/QilaBalaSarPhoto1.jpg') no-repeat center top;	
	background-size: 70%;
	margin: 0px auto;
}
.navbar-default{
	box-shadow: 0px 3px 1px #999;
	-moz-box-shadow: 0px 3px 1px #999;
}
.navbar-default li {		
	border: 1px solid #ccc;	
	border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #ccc;
    box-shadow: 5px 5px 3px #888888;
	-moz-box-shadow: 5px 5px 3px #888888;	
	margin: 2% 1% 2% 0%;	
	width: 24%;
	padding: 0;	
	font-size: 90%;
			
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {	
	background-color: #ccc;	
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #fff;	 
}
.nav>li> a {
	padding-right: 20px;
}
#header h1 {
	font-family: 'Tangerine', serif;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;	
	color: rgb(0, 191, 255);
}
#wrapper {
	display: block;
	border: 1px #a2a2a2 solid;
	width: 70%;
	margin: 0px auto;
}


#header {	
	//border: 2px #a2a2a2 solid;
}

#content {
	width: 75%;
	border: 2px #a2a2a2 solid;
	float: left;
	background-color: rgba(255,255,255, 0.5);
}

#sidebar {
	width: 23%;
	border: 2px #a2a2a2 solid;
	float: right;	
}

#delimiter {	
	clear: both;
}

#footer {
	border: 2px #a2a2a2 solid;
	color: #fff;
}

.title {
	font-size: 11pt;
	font-family: verdana;
	font-weight: bold;	
}
..mainHeading {
	font-family: 'Tangerine', serif;
	font-size: 48px;
	text-shadow: 4px 4px 4px #aaa;
}
.tbl_row {
	border: 2px solid #999;
	padding:5%;
	margin: 5%;
	background-color: #ccc;
}
.tbl_row td{
	border: 2px solid #999;
	padding: 10px;
	margin-right: 5%;
}
@media ( min-width : 100px) and (max-width: 768px) {
.navbar-collapse li, .navbar-collapse>.active>a, .navbar-default .navbar-toggle:hover {	
	background: transparent;
	border: transparent;
	box-shadow: 5px 5px 3px transparent;
	-moz-box-shadow: 5px 5px 3pxtransparent;	
	}
}